<!DOCTYPE html>
<!--타임리프 -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시 글 목록</title>
    <meta http-equiv="Content-Typec" content="text/html; charset=UTF-8">
</head>
<body th:align="center">
<h1>게시글 목록</h1>
<table th:align="center" border="1" th:cellpadding="0" th:cellspacing="0" th:width="700">
    <tr>
        <th bgcolor="orange" width="100">번호</th>
        <th bgcolor="orange" width="200">제목</th>
        <th bgcolor="orange" width="150">작성자</th>
        <th bgcolor="orange" width="150">등록일</th>
        <th bgcolor="orange" width="100">조회수</th>
    </tr>
<!--model에 있는 데이터를 타임리프는 html에 뿌려주게 되고, 순수한 html파일로 만들어서 톰캣에 전달-->
<!--each : for문-->
<!--모델에 있는 boardList 배열을 순회해서 board라는 객체를 하나씩 출력 (유사 : 향상된 for문)-->
    <tr th:each="board : ${boardList}">
        <td th:text="${board.seq}"></td>
        <td th:text="${board.title}"></td>
        <td th:text="${board.writer}"></td>
        <td th:text="${board.createDate}"></td>
<!--        <td th:text="${#dates.format(board.createdate, 'yyy-MM-dd')}"></td>-->
        <td th:text="${board.cnt}"></td>
    </tr>
</table>
<br>
    <a th:href="insertBoard">새글 등록</a>

</body>
</html>